:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --gallery: #eee;
    --white: #fff;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .1);
    --border: 0.2rem solid rgba(0, 0, 0, .1);
    --outline: 0.1rem solid rgba(0, 0, 0, .1);
    --outline-hover: 0.2rem solid var(--black);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: var(--gallery);
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0 3rem 0;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background-color: var(--orange);
    color: var(--white);
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0 100%, 7% 50%, 0 0);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--orange);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background-color: var(--orange);
    color: var(--white);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

/* TODO: заменить на flex*/
.header .icons .icons__item {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background-color: var(--gallery);
    color: var(--black);
    font-size: 2rem;
    margin-right: 0.3rem;
    text-align: center;
}

.header .icons .icons__item:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    transition: 0.4s linear;
    right: 2rem;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background-color: var(--white);
}

.header .shopping-cart.active {
    right: 2rem;
    transition: 0.4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--orange);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}

/* TODO: добавить flex*/
.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 35rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    text-align: center;
}

.header .login-form.active {
    right: 2rem;
    transition: 0.4s linear;
}

.header .login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box {
    margin: 0.7rem 0;
    background-color: var(--gallery);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}

.header .login-form p {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    color: var(--light-color);
}

.header .login-form p a {
    color: var(--orange);
    text-decoration: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../image/banner-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span {
    color: var(--orange);
}

.home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    padding: 3rem;
    background-color: var(--white);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0;
}

.features .feature-image {
    margin: 1rem 0;
    height: 15rem;
}

.features .feature-name {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .feature-description {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

.products .product-slider {
    padding: 1rem;
}

.products .box {
    background-color: var(--white);
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}

.products .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0;
}

.products .product-image {
    height: 20rem;
}

.products .product-name {
    font-size: 2.5rem;
    color: var(--black);
}

.products .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}

.products .stars {
    font-size: 1.7rem;
    color: var(--orange);
    padding: 0.5rem 0;
}


.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.categories .box {
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0;
}

.categories .category-image {
    margin: 1rem 0;
    height: 15rem;
}

.categories .category-name {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .category-discount {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.review .review-slider {
    padding: 1rem;

}

.review .review-slider .box {
    background-color: var(--white);
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}

.review .review-slider .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0;
}

.review .review-image {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.review .review-description {
    padding: 5rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-customer-name {
    padding-bottom: 0.5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .stars i {
    color: var(--orange);
    font-size: 1.7rem;
}


.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}

.blogs .blog-image {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .content {
    padding: 2rem;
}

.blogs .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .icons .icon-item {
    color: var(--light-color);
    font-size: 1.5rem;
}

.blogs .icons .icon-item:hover {
    color: var(--black);
}

.blogs .icons .icon-item i {
    color: var(--orange);
    padding-right: 0.5rem;
}

.blogs .blog-title {
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: 0.5rem 0;
}

.blogs .blog-description {
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.footer {
    background-color: var(--white);
}

.footer .box-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer .footer-column-name {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .footer-column-name i {
    color: var(--orange);
}

.footer .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .links i {
    color: var(--orange);
    padding-right: 0.5rem;
}

.footer .links:hover i {
    padding-right: 2rem;
}

.footer .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .share {
    display: flex;
    align-items: center;
}

.footer .share a {
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--black);
    margin-right: 0.2rem;
    background-color: var(--gallery);
    text-align: center;
}

.footer .share a:hover {
    background-color: var(--orange);
    color: var(--white);
}

.footer .box.newsletter {
    display: flex;
    flex-direction: column;
}

.footer .box.newsletter .email {
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--gallery);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box.newsletter .payment-img {
    margin-top: 2rem;
    height: 3rem;
}


@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: 0.5rem;
        background-color: var(--white);
    }

    .header .navbar.active {
        right: 2rem;
        transition: 0.4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }
}
